{% extends 'base.html.twig' %}

{% block body_id %}

{% endblock %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>

                        <img src="{{ article.imageUrl }}" width="400px">

                        <p>
                            {{ article.content }}
                        </p>


                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-danger btn-xs"
                                   href="{{ path('article_delete', {'id':article.id}) }}"> delete </a>

                                <a class="btn btn-success btn-xs"
                                   href="{{ path('article_edit', {'id':article.id}) }}"> edit </a>

                                <a class="btn btn-default btn-xs"
                                   href="{{ path('blog_index') }}"> back </a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

